langchain
langchain-community
groq
langchain-huggingface
langchain-core
langchain-groq
sentence-transformers
python-multipart
huggingface-hub[hf-xet]
tiktoken
gradio # Vẫn giữ nếu bạn muốn chạy cả app.py
python-dotenv
torch
regex
fastapi
tqdm
uvicorn[standard] # standard bao gồm các dependencies cần thiết
redis
bcrypt
pymongo[srv]
pydantic[email]
python-jose
opencv-python
tenacity
rank_bm25
langchain-weaviate
weaviate-client
unidecode
resend
passlib
langchain-google-genai
python-docx
pypandoc
llama-index
llama-parse
itsdangerous
Authlib[fastapi]
httpx

gunicorn